.float-left{
    float: left;
}
.float-right{
    float: right;
}
.right-div{
    margin-top: 10px;
}
.clear{
    clear: both;
}
/*主页面*/
.dropdown>.btn{
    padding-left: 10px;
    margin-right: 10px;
    border-left:1px solid #648EF1;
}
.caret{
    color: white;
}
.main-menu{
    width: 100%!important;
}
.header .logo img {
    margin-top: 15px;
}
/*人员管理*/
.btnDefault{
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 2px;
}
.bgGreen{
    background-color: #39B44A;
}
.mansgebutton{
    margin-top: -3px;
}
.bgBlue{
    background-color: #3A6BCE;
    color: white !important;
}
#column-boxes td{
    width: 100px;
    padding: 0 5px;
    text-align: center;
}
.content-title>.float-left{
    line-height: 32px;
    margin-left: 10px;
    float: left;
}
.wrapper{
    height: 150px;
}
#userTable{
    margin-top: 100px;
}
#userTable th{
    padding-right: 10px;
    margin-right: 10px;
    word-break: keep-all;
}
.usermanage-model p{
    line-height: 30px;
    padding-top: 10px;
}
.usermanage-model label{
    float: left;
    clear: both;
    width: 100px;
    margin-right: 10px;
    padding-top: 10px;
}
.usermanage-model input{
    height: 25px;
}
.managep{
    height: 100px;
}
#editBirthday,#editOnBoardDate {
    margin-top: 20px;
}

/*人员分组*/
.bgGreen{
    margin-left: 10px;
}
.bgGreen span{
    color: white;
}
.content-title{
    font-size: 20px;
}
/*权限管理页面*/

.search-input input {
    width: 300px;
    height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}
/*排班表格*/
.timePick{
    margin-left: 50px;
    margin-top: 5px;
}
.input-group{
    margin-left: 5px;
    margin-top: 3px;
}
/*工作流程*/
#shiftModel{
    width: auto;
    height: 36px;
    border-radius: 5px;
}
.btnLoad{
    margin-left: 20px;
    margin-top: -1px;
}