.red{
    color:red;
}
.white{
    color:white;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.right-div{
    margin-top: 10px;
}
.clear{
    clear: both;
}
/*主页面*/
.dropdown>.btn{
    padding-left: 10px;
    margin-right: 10px;
    border-left:1px solid #648EF1;
}
.caret{
    color: white;
}
.main-menu{
    width: 100%!important;
    height: 100vh;
}
.header .logo img {
    margin-top: 15px;
}
/*人员管理*/
.btnDefault{
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 2px;
}
.bgGreen{
    background-color: #39B44A;
}
.mansgebutton{
    margin-top: -3px;
}
.bgBlue{
    background-color: #3A6BCE;
    color: white !important;
}
#column-boxes td{
    width: 100px;
    padding: 0 5px;
    text-align: center;
}
.content-title>.float-left{
    line-height: 32px;
    margin-left: 10px;
    float: left;
}
#userTable{
    margin-top: 100px;
}
#userTable th{
    padding-right: 10px;
    margin-right: 10px;
    word-break: keep-all;
}
.usermanage-model p{
    line-height: 30px;
    padding-top: 10px;
}
.usermanage-model label{
    float: left;
    clear: both;
    width: 100px;
    margin-right: 10px;
    padding-top: 10px;
}
.usermanage-model input{
    height: 25px;
}
.managep{
    height: 100px;
}
#editBirthday,#editOnBoardDate {
    margin-top: 20px;
}
.idcard,.entrytime,.marriage,.childhas,.education,.political,.partytime,.homeaddress,.certificatenumber,.certificategrade,.crewcode{
    display: none;
}
#userTable{
    margin: auto;
}
/*人员分组*/
.bgGreen{
    margin-left: 10px;
}
.bgGreen span{
    color: white;
}
.content-title{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.content-block{
    width: 400px;
    float: left;
    margin: 10px;
    background: #f1f1f1;
}
.blockheader{
    width: 400px;
    height: 40px;
    background: #D7E4FF;
    position: relative;
}
.blockcontent{
    width: 400px;
    height: 310px;
    overflow: auto;
    padding: 5px 10px;
}
.blockcontent li a.icon-1 {
    color: #EC1C24;
}
.blockcontent li a.icon-4 {
    color: #3A6BCE;
}
.blockcontent li a {
    float: right;
    margin-right: 10px;
    margin-top: 12px;
}

.blockcontent li  {
    line-height: 40px;
    width: 100%;
    height: 40px;
    float: left;
    background: #fff;
    margin: 5px 0;
}
.blockspan,.blockheader{
    padding-left: 10px;
    line-height: 40px;
}
.rgbutton{
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    background: #3A6BCE;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
}
.rgbutton a{
    display: block;
    width: 80px;
    height: 30px
}
/*权限管理页面*/
.search-input {
    padding-left: 5px;
    margin-right: 10px;
    width: 300px;
    line-height: 38px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}
.search-input input{
    outline: none;
    border: 0;
}
.form_line{
    margin-top: 20px;
    margin-right: 10px;
    float: left;
}
#roleConfig{
    display:none;
}
/*排班表格*/
 select {
    width: 130px;
    height: 36px;
    padding: 0 5px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

    /*工作流程*/
#shiftModel{
    width: auto;
    height: 36px;
    border-radius: 5px;
}
.btnLoad{
    margin-left: 20px;
    margin-top: -1px;
}
/*岗位设置*/
.lableright{
    margin-left: 17px;
}
.settingp{
    margin-top: 10px;
}