* {
  font-size: 14px;
}
ul {
  list-style: none;
}
.container {
  padding: 0 15px;
  box-sizing: border-box;
}
.ivu-tabs {
  margin-top: 20px;
}
.title {
  position: relative;
  height: 44px;
}
.title b {
  line-height: 44px;
}
.title .btn-group {
  position: absolute;
  left: 0;
  top: 0;
}
.title .btn-group a {
  float: left;
}
.info {
  width: 100%;
  overflow: hidden;
  clear: both;
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
}
.info * {
  float: left;
  line-height: 24px;
}
.info li {
  width: 300px;
  padding: 8px 0;
}
.info li label {
  width: 120px;
  text-align: right;
  color: #999;
}
input,
button,
select {
  outline: none !important;
}
button {
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
  border: 0 !important;
}
.ivu-btn {
  line-height: 1 !important;
}
.ivu-btn-loading {
  pointer-events: painted !important;
}
.ivu-btn-loading:before,
.ivu-btn-loading i {
  display: none !important;
}
.ivu-btn-loading span {
  margin-left: 0 !important;
}
/* 人员管理 */
.clear {
  overflow: hidden;
  clear: both;
  float: none !important;
}
.choicebox {
  padding: 15px;
  overflow: hidden;
  clear: both;
  margin-bottom: 15px;
}
.choicebox label {
  padding: 5px 0;
  margin-right: 10px;
}
.choicebox label,
.choicebox label * {
  float: left;
}
.choicebox label .ivu-checkbox {
  margin-top: 5px;
  margin-right: 7px;
}
.table {
  width: 100%;
  overflow-x: auto;
}
.table table {
  min-width: 100%;
  box-sizing: border-box;
}
.table table td,
.table table th {
  border-bottom: 1px solid #e5e5e5;
}
.table table th {
  background: #D7E4FF;
  line-height: 40px;
  border: 0 !important;
  text-align: left;
}
.table table td {
  line-height: 36px;
}
table,
table td,
table th {
  border-collapse: collapse;
}
table td,
table th {
  padding: 5px;
}
input,
select {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 5px;
  height: 30px;
}
.form {
  width: 100%;
  padding: 10px;
}
.form,
.form * {
  box-sizing: border-box;
}
.form * {
  float: left;
}
.form li {
  padding: 5px;
  width: 50%;
  padding: 10px 0;
}
.form label {
  width: 120px;
  text-align: right;
  margin-right: 10px;
  line-height: 36px;
}
.form .require label::before {
  content: '*';
  color: red;
}
.form input,
.form select {
  width: 240px;
}
.form .lang {
  width: 100%;
}
.form .lang input {
  width: 615px;
}
.form .orange {
  color: #ff6600;
  width: 100%;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 110px;
}
.ivu-btn-primary span {
  color: #fff !important;
}
.ivu-form-item-error-tip {
  font-size: 14px !important;
}
.ivu-table-wrapper {
  margin-top: 20px;
  border: 0;
}
.ivu-table th {
  background: #D7E4FF;
}
.ivu-table-border td,
.ivu-table-border th {
  border-right: 0;
}
.ivu-table:after {
  background: #fff;
}
#echart {
  width: 1200px;
  height: 200px;
  margin-bottom: 20px;
}
/* 排班表格 */
.postformtable {
  margin-top: 20px;
}
.postformtable table {
  width: 100%;
}
.postformtable table th,
.postformtable table td {
  height: 40px;
  border: 2px solid #fff;
}
.postformtable table th {
  color: #fff;
  background: #767C85;
}
.postformtable table td {
  background: #DCDEE0;
}
.scheduleForm td {
  text-align: center;
}
.selectbutton .icon-5 {
  margin-left: 10px;
}
.tabItem {
  display: inline-block;
  margin-left: 10px;
}
/* 模态框 */
.ivu-modal-confirm-body {
  margin-top: -20px;
  padding-top: 20px;
}
.ivu-modal-confirm-body .ivu-icon-help-circled {
  color: #f90;
  font-size: 26px;
  margin-left: 15px;
}
.ivu-modal-confirm-body p {
  font-size: 14px;
  line-height: 24px;
}
/* 站务员列表 */
.userList {
  padding: 10px;
  overflow: hidden;
  clear: both;
}
.userList span {
  float: left;
  width: 70px;
  text-align: center;
  line-height: 30px;
  margin: 5px 10px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  border-radius: 4px;
}
.userList .active {
  border-color: #ff6600;
  color: #ff6600;
}
